@font-face {
    font-family: "Gilroy";
    src: url(../Assets/Fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: "Gilroy-Light";
    src: url(../Assets/Fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../Assets/Fonts/Gilroy-Medium.ttf);
}

@font-face {
    font-family: "Gilrow-Heavy";
    src: url(../Assets/Fonts/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../Assets/Fonts/Gilroy-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Gilroy-Medium";
}

html {
    background: #f5f5f5;
    font-family: "Gilroy-Medium";
}

div {
    font-family: "Gilrow-Medium";
}

*::-webkit-scrollbar {
    display: none;
}

.main-container {
    height: 95vh;
    font-family: "Gilroy-Light";
    /* border: 1px solid blue; */
}

.title-container {
    height: 10%;
    font-family: "Gilroy-Bold";
    font-size: 40px;
    margin: 1%;
}

.top-container {
    height: 60%;
    /* border: 1px solid red; */
}

.bottom-container {
    margin-top: 1%;
    height: 20%;
    /* border: 1px solid red; */
}

.drag-drop-container {
    height: 80%;
    width: 100%;
}

.footer-logo {
    height: 10%;
    position: absolute;
    padding: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
    bottom: 0;
    left: 0;
    width: 10%;
    font-family: 'Gilroy-Medium';
    /* border: 1px solid blue; */
}

.submit img,
.confirm-btn img {
    width: 35%;
    height: auto;
}

.confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  

.confirm-btn {
    cursor: pointer;
}

.footer-logo img {
    width: 100%;
    height: auto;
    margin-left: 1%;
}

.drag-area {
    height: 500px;
    width: 60%;
    border: 3px dashed gray;
}

.drag-area .icon {
    font-size: 50px;
    color: #008000
}

.drag-area .header1 {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .header2 {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
}

.drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
}

.drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #008000;
    cursor: pointer;
}

.drag-area .draggable {
    cursor: move;
}

.confirm-btn {
    width: 10%;
    /* border: 1px solid blue; */
}

.confirm-btn img {
    width: 50%;
}

.console-log {
    border: 1px solid red;
}

.results-modal {
    border: 1px solid rgb(95, 95, 95);
    border-radius: 8px;
    position: absolute;
    width: 40vw;
    height: 40vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: #c0ebbd;
    /* background: rgb(73, 73, 117); */
    /* background: linear-gradient(200deg, #8abc87, #e6c79c); */
    background-size: 400% 400%;
    -webkit-animation: ModalFadeBackground 10s ease infinite;
    -moz-animation: ModalFadeBackground 10s ease infinite;
    animation: ModalFadeBackground 10s ease infinite;
    z-index: 999;
    /* color: white; */
    padding: 2%;
}

.results-body-container p {
    /* border: 1px solid red; */
    color: rgb(62, 60, 60);
    font-size: 25px;
}

.results-header-container p {
    color: rgb(62, 60, 60);
    font-size: 30px;
}

.results-body-container {
    /* margin-top: 10%; */
    text-align: center;
}

.close-modal-btn {
    bottom: 15%;
    padding: 2%;
    margin-top: 2%;
    border-radius: 4px;
    width: 25%;
    background-color: rgb(161, 169, 211);
    border: 1px solid rgb(95, 95, 95);
}

.close-modal-btn:hover {
    cursor: pointer;
}

.close-modal-btn p {
    color: rgb(62, 60, 60);
}

.success-modal {
    background: rgba(61, 160, 61, 0.79);
}

.warning-modal {
    background: rgba(241, 179, 8, 0.79);
}

.error-modal {
    background: rgba(255, 0, 0, 1);
}

.notification-modal {
    border-radius: 0.5vh;
    padding: 0.5vh;
    z-index: 999;
    position: absolute;
    /* align-items: center; */
    flex-direction: row !important;
    top: 5%;
    right: 3%;
    width: 22%;
    height: 8%;
}

.notification-modal p {
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
}


/* 
h3.text {
    height: 100%;
    
} */